<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KaadasLock.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
				<key>dateExpires</key>
				<string>2021/9/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FTIndicator.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KDSFFmpeg.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MQTTClient.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SAMKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YBImageBrowser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>bctoolbox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>linphone.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>linphonetester.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mediastreamer_base.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mediastreamer_voip.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>msamr.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mscodec2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>msopenh264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mssilk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>mswebrtc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>msx264.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ortp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>CF255FE6625E0593A92FDAFEDD8904189EED3EE7</string>
						<key>dateExpires</key>
						<string>2021/9/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ti_oad.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HWFL2X69J2</string>
						<key>name</key>
						<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HWFL2X69J2.com.kaidishi.lock</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.networking.HotspotConfiguration</key>
				<true/>
				<key>com.apple.developer.networking.networkextension</key>
				<array/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>HWFL2X69J2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>KaadasLock.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c6d21389-9e06-4159-9e78-fde4dcde6eb3</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.kaidishi.lock</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HWFL2X69J2</string>
				<key>name</key>
				<string>Shenzhen Kaadas Intelligent Technology Co.,Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
